# Archivo de variables de entorno de ejemplo para infraestructura Docker
# Renombra este archivo a ".env" y llena las credenciales.

POSTGRES_USER=my_database_user
POSTGRES_PASSWORD=my_super_secure_password
POSTGRES_DB=my_database_name
